.list{
    color: azure;
}
p{
    margin-left: 1%;
    font-size: 130%;
    margin-top: 3%;
    color: azure;
}

.p6{
    margin-left: 1%;
    font-size: 130%;
    margin-top: 3%;
    color: azure;
}

.btn{
    margin-left: 45%;
}