.p2{
    font-size: 20px;
    margin-left: 1%;
    margin-top: 2%;
}

.form{
    color: azure;
}

.btn{
    background-color: red;
    margin-left: 47%;
}

.link{
    color: green;
    margin-left: 40%;
}