.p1{
   text-align: center;
    margin-top: 14%;
    margin-left: -20%;
    color: azure;
    font-size: 40px;
    font-family: Kingsman;
    
}

.btn{
    font-size: 90%;
}

.i1{
    margin-left: 51%;
    margin-top: -17%;
}