.f{
    font-size: 15px;
    margin-top: 3%;
    margin-left: 1%;
    color: azure;
}

.s{
    font-size: 15px;
    margin-top: 1%;
    margin-left: 1%;
    color: azure;
}

.t{
    font-size: 15px;
    margin-top: 1%;
    margin-left: 1%;
    color: azure;
}

.th{
    font-size: 15px;
    margin-top: 1%;
    margin-left: 1%;
    color: azure;
}

h1{
    text-align: center;
    margin-top: 2%;
    color: azure;
}

.abt{
    margin-left: 42%;
}

.i2{
    font-size: 15px;
    margin-top: 1%;
    margin-left: 41%;
    color: azure;
}